/* ----------col---------- */
.col100 {
  width: 100%;
}
.col90 {
  width: 90%;
}
.col85 {
  width: 85%;
}
.col80 {
  width: 80%;
}
.col75 {
  width: 75%;
}
.col70 {
  width: 70%;
}
.col66 {
  width: 66.6666%;
}
.col65 {
  width: 65%;
}
.col60 {
  width: 60%;
}
.col55 {
  width: 55%;
}
.col50 {
  width: 50%;
}
.col45 {
  width: 45%;
}
.col40 {
  width: 40%;
}
.col35 {
  width: 35%;
}
.col30 {
  width: 30%;
}
.col33 {
  width: 33.3333%;
}
.col25 {
  width: 25%;
}
.col20 {
  width: 20%;
}
.col16 {
  width: 16.6666667%;
}
.col15 {
  width: 15%;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 1366px) {
    width: 1000px;
  }
  @media screen and (max-width: 1100px) {
    width: 900px;
  }

  @media screen and (max-width: 1023px) {
    width: 700px;
  }

  @media screen and (max-width: 768px) {
    width: 90%;
  }
}
