/*color*/
$color-white-01: #fff;
$color-white-02: #f6f6f6;

$color-black-01: #000;

$color-red-01: #ff0000;

$color-orange-01: #ffa500;

$color-yellow-01: #ffff00;

$color-green-01: #008000;

$color-blue-01: #0000ff;

$color-coffee-01: #a52a2a;

$color-purple-01: #800080;

/*font famaily*/
$font-famaily-01: "Roboto";
$font-famaily-02: "Roboto-Thin";

/*font-size*/
$font-size-01: 2.85rem;
$font-size-02: 2.14rem;
$font-size-03: 1.42rem;
$font-size-04: 1.28rem;
$font-size-05: 1.1rem;
$font-size-06: 1rem;
$font-size-07: 0.85rem;

/*font-family*/
$font-family-01: Helvetica Neue, Helvetica,PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
